.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.056000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.008000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.056000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.744038;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-4.840000px;}
._0{margin-left:-1.584000px;}
._4{width:24.164000px;}
._3{width:66.380000px;}
._6{width:112.480000px;}
._5{width:130.184000px;}
._2{width:131.768000px;}
.fc2{color:rgb(146,146,146);}
.fc1{color:rgb(34,34,34);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:40.000000px;}
.fs0{font-size:44.000000px;}
.fs2{font-size:52.000000px;}
.fs1{font-size:56.000000px;}
.fs3{font-size:60.000000px;}
.y0{bottom:0.000000px;}
.y18{bottom:13.025970px;}
.y14{bottom:56.197100px;}
.y1{bottom:56.692920px;}
.y17{bottom:245.026000px;}
.y13{bottom:289.530180px;}
.y12{bottom:322.530180px;}
.y11{bottom:337.530180px;}
.y10{bottom:352.530180px;}
.y23{bottom:358.660000px;}
.yf{bottom:367.530180px;}
.y22{bottom:374.490000px;}
.ye{bottom:382.530180px;}
.yd{bottom:434.628180px;}
.yc{bottom:453.628180px;}
.y21{bottom:468.026000px;}
.y16{bottom:481.026000px;}
.y20{bottom:498.026000px;}
.yb{bottom:507.530180px;}
.y1f{bottom:513.026000px;}
.ya{bottom:522.530180px;}
.y1e{bottom:547.490000px;}
.y9{bottom:552.530180px;}
.y8{bottom:567.530180px;}
.y7{bottom:582.530180px;}
.y6{bottom:597.530180px;}
.y5{bottom:612.530180px;}
.y1d{bottom:620.026000px;}
.y4{bottom:627.530180px;}
.y1c{bottom:635.026000px;}
.y1b{bottom:650.026000px;}
.y3{bottom:657.530180px;}
.y1a{bottom:665.026000px;}
.y19{bottom:680.026000px;}
.y15{bottom:714.490000px;}
.y2{bottom:717.530180px;}
.h7{height:30.720000px;}
.h2{height:33.792000px;}
.h4{height:39.936000px;}
.h3{height:43.008000px;}
.h6{height:46.080000px;}
.h1{height:732.260700px;}
.h5{height:734.122500px;}
.h0{height:842.000000px;}
.w1{width:491.456200px;}
.w2{width:492.139200px;}
.w0{width:595.000000px;}
.x0{left:0.000000px;}
.x1b{left:5.122490px;}
.x5{left:10.581080px;}
.x8{left:11.890080px;}
.x4{left:18.402080px;}
.x6{left:22.087080px;}
.x7{left:23.533580px;}
.xe{left:29.077580px;}
.x1{left:51.911930px;}
.x3{left:53.838570px;}
.xf{left:65.196070px;}
.x2{left:71.215370px;}
.xc{left:127.786070px;}
.xd{left:138.593570px;}
.x14{left:145.458070px;}
.x12{left:154.522070px;}
.x16{left:156.018070px;}
.xb{left:158.459070px;}
.x10{left:161.198570px;}
.x9{left:172.275570px;}
.xa{left:177.527070px;}
.x13{left:183.072570px;}
.x15{left:185.049570px;}
.x1a{left:191.979570px;}
.x18{left:193.731570px;}
.x17{left:196.377070px;}
.x19{left:204.407070px;}
.x11{left:216.992070px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-6.453333pt;}
._0{margin-left:-2.112000pt;}
._4{width:32.218667pt;}
._3{width:88.506667pt;}
._6{width:149.973333pt;}
._5{width:173.578667pt;}
._2{width:175.690667pt;}
.fs4{font-size:53.333333pt;}
.fs0{font-size:58.666667pt;}
.fs2{font-size:69.333333pt;}
.fs1{font-size:74.666667pt;}
.fs3{font-size:80.000000pt;}
.y0{bottom:0.000000pt;}
.y18{bottom:17.367960pt;}
.y14{bottom:74.929467pt;}
.y1{bottom:75.590560pt;}
.y17{bottom:326.701333pt;}
.y13{bottom:386.040240pt;}
.y12{bottom:430.040240pt;}
.y11{bottom:450.040240pt;}
.y10{bottom:470.040240pt;}
.y23{bottom:478.213333pt;}
.yf{bottom:490.040240pt;}
.y22{bottom:499.320000pt;}
.ye{bottom:510.040240pt;}
.yd{bottom:579.504240pt;}
.yc{bottom:604.837573pt;}
.y21{bottom:624.034667pt;}
.y16{bottom:641.368000pt;}
.y20{bottom:664.034667pt;}
.yb{bottom:676.706907pt;}
.y1f{bottom:684.034667pt;}
.ya{bottom:696.706907pt;}
.y1e{bottom:729.986667pt;}
.y9{bottom:736.706907pt;}
.y8{bottom:756.706907pt;}
.y7{bottom:776.706907pt;}
.y6{bottom:796.706907pt;}
.y5{bottom:816.706907pt;}
.y1d{bottom:826.701333pt;}
.y4{bottom:836.706907pt;}
.y1c{bottom:846.701333pt;}
.y1b{bottom:866.701333pt;}
.y3{bottom:876.706907pt;}
.y1a{bottom:886.701333pt;}
.y19{bottom:906.701333pt;}
.y15{bottom:952.653333pt;}
.y2{bottom:956.706907pt;}
.h7{height:40.960000pt;}
.h2{height:45.056000pt;}
.h4{height:53.248000pt;}
.h3{height:57.344000pt;}
.h6{height:61.440000pt;}
.h1{height:976.347600pt;}
.h5{height:978.830000pt;}
.h0{height:1122.666667pt;}
.w1{width:655.274933pt;}
.w2{width:656.185600pt;}
.w0{width:793.333333pt;}
.x0{left:0.000000pt;}
.x1b{left:6.829987pt;}
.x5{left:14.108107pt;}
.x8{left:15.853440pt;}
.x4{left:24.536107pt;}
.x6{left:29.449440pt;}
.x7{left:31.378107pt;}
.xe{left:38.770107pt;}
.x1{left:69.215907pt;}
.x3{left:71.784760pt;}
.xf{left:86.928093pt;}
.x2{left:94.953827pt;}
.xc{left:170.381427pt;}
.xd{left:184.791427pt;}
.x14{left:193.944093pt;}
.x12{left:206.029427pt;}
.x16{left:208.024093pt;}
.xb{left:211.278760pt;}
.x10{left:214.931427pt;}
.x9{left:229.700760pt;}
.xa{left:236.702760pt;}
.x13{left:244.096760pt;}
.x15{left:246.732760pt;}
.x1a{left:255.972760pt;}
.x18{left:258.308760pt;}
.x17{left:261.836093pt;}
.x19{left:272.542760pt;}
.x11{left:289.322760pt;}
}
