html {
    scroll-behavior:smooth
}

.navbar-fixed {
    background-color: transparent;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure the navbar is on top of other content */
}

.nav-link, .navbar-brand {
    color: white;
    font-size: 1.3em;
}

#main-buttons {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#main-buttons a {
    padding: 0.3vw 0.6vw;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    background-color: #ffffff00;
    color: #ffffff;
    font-family: "Poppins";
    font-size: 1.3vw;
    cursor: pointer;
}

#pastShowsButton {
    padding: 6px 12px;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    background-color: #ffffff00;
    color: #ffffff;
    font-family: "Poppins";
    font-size: 25px;
    cursor: pointer;
}

.max-height-image-container {
    max-height: 120vh; /* Adjust the max height as needed */
    width: 100%;
    overflow: hidden; /* Crop excess height */
}
.max-height-image {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Crop image to fit container */
}

#run-video {
    position: absolute;
    width: 45%;
    top: 50%;
    left: 50%; /* Adjust the left position as needed */
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    background-color: black;
    /* position-absolute top-50 start-50 translate-middle  */
}

#tile {
    background-color: #1f1e1e;
    background-repeat: repeat;
}

#shows {
    padding-top: 50px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width:55%;
    text-align: center;
    color: #fff;
}

/* Media query for smaller screens */
@media (max-width: 650px) {
    #shows {
        width: 80%;
    }
}

#shows hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.date {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 7px;
}

.support {
    color: rgb(159, 159, 159);
}

body {
    font-family: 'Poppins', sans-serif;
}

.ticket-buttons {
    align-items: center;
}

.ticket-buttons button {
    border-radius: 6px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

/* Media query for smaller screens */
@media (min-aspect-ratio: 3/4) {
    .artwork-vertical {
        display: none;
    }
}@media (aspect-ratio: 3/4) {
    .artwork-horizontal {
        display: inherit !important;
    }
    #run-video {
        position: relative;
        width: auto;
        top: auto;
        left: auto;
        transform: none;
    }
    #main-buttons {
        position: absolute;
        top: 63%;
        left: 50%;
        text-align: center;
    }
    #main-buttons a {
        padding: 1vw 2vw;
        border-radius: 10px;
        color: #ffffff;
        font-size: 20px;
    }
}
@media (max-aspect-ratio: 3/4) {
    .artwork-horizontal {
        display: none;
    }
    #run-video {
        position: relative;
        width: auto;
        top: auto;
        left: auto;
        transform: none;
    }
    #main-buttons {
        position: absolute;
        top: 63%;
        left: 50%;
        text-align: center;
    }
    #main-buttons a {
        padding: 1vw 2vw;
        border-radius: 10px;
        color: #ffffff;
        font-size: 20px;
    }
}